

// This affects Luminous's display, lower's framerate default
// for better battery life. Look into conditionals?
output "eDP-1" {
	//   Available modes:
	//     1920x1080@120.035 (current, preferred)
	//     1920x1080@48.014
   mode "1920x1080@48.014"
   scale 1
   transform "normal"
   position x=1200 y=1355
   // variable-refresh-rate on-demand=false
}

output "HDMI-A-1" {
    mode "1920x1200@59.950"
    scale 1
    transform "270"
    position x=0 y=0
}
