
debug = no

import /usr/local/share/doc/timew/holidays/holidays.en-CA
import /usr/local/share/doc/timew/themes/dark.theme

# https://timewarrior.net/reference/timew-summary.1/
reports.summary.ids = yes
reports.summary.annotations = yes
reports.summary.holidays = yes
reports.summary.tags = yes
reports.summary.range = fortnight
reports.summary.weeks = no
# reports.gap.range  # EXCLUDE SLEEPING RANGE

# WHERE type is one of month week day
reports.week.cell = 15
reports.week.day = yes
# default is all, trying auto
reports.day.hours = auto
reports.week.hours = auto
# reports.week.month = yes
#reports.<type>.range # For  reports  that  show a range of data, this setting will override the default value. The value has to be a range hint (without the prefix colon), see timew-hints(7).
reports.week.spacing = 0
# reports.week.axis = external
#The value 'internal' puts the hour markers (timeline at the top) inside the exclusion blocks, 'external' puts the hour markers in a separate line; additional values might be defined in the future. Default is 'internal' for the day report and 'external' for other reports.

# TAGS ======================================

tags.auto.description = Automotive maintenance and other work
tags.auto.color = yellow   # + black
tags.chores.description = Household chores
tags.chores.color = a boring color
tags.dev.description = Software
# tags.dev.color =
tags.family.description = Time allocated to family
# tags.family.color =
tags.fitness.description = Workout
# tags.fitness.color =
tags.love.description = Activities with wife
tags.love.color = red
tags.stocks.description = Stonks
# tags.stocks.color = money color green/red
tags.sysadmin.description = Hosts and services management
# tags.sysadmin.color = 
tags.typing.description = Time spent on touch-typing practice for the eventual move to ergo keyboard
# tags.typing.color = an important color related to touch-typing
tags.work.description = Professional work
tags.work.color = blue
